.loginbutton-wrapper{
    margin:20px auto 0 auto;
    max-width:280px;
    border:1.4px solid #0062ff;
    color:#0062ff
}
.loginbutton-wrapper:hover,.loginbutton-wrapper.is-loading{
    border-color:#0062ff;
    background:#0062ff;
    color:#fff;
    box-shadow:0 14px 26px -12px rgba(0,98,255,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,98,255,0.2) !important
}

.d-flex{
    display: flex !important;
}

.d-none{
    display: none !important;
}

.space-bw{
    justify-content: space-between;
}
.aln-cntr{
    align-items: center;
}
.uppercase{
    text-transform: uppercase !important;
}
.no-border{
    border: none;
}
.no-shadow{
    box-shadow: none;
}
.flex-end{
    justify-content: flex-end !important;
}
.mb-15{
    margin-bottom: 15px !important;
}
.mb-0{
    margin-bottom: 0 !important;
}

.mt-40{
    margin-top: 40px !important;
}


.mb-1rem{
    margin-bottom: 1rem !important;
}

.m-0{
    margin: 0 !important;
}

.text-center{
    text-align: center;
}
.model-pd{
    padding: 20px 25px !important;
}

.model-pd2{
    padding: 10px 0px !important;
}

.pd-lr-25{
    padding-left: 25px;
    padding-right: 25px;
}

.model-pd-16{
    padding: 16px !important;
}

.post-title-box{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.post-title-box img{
    height: 60px;
    width: 60px;
}

.post-title{
    width: 100%;
    margin-left: 16px;
}

.post-title textarea{
    padding: 0;
    border-color: transparent !important;
    resize: none; 
}

@-webkit-keyframes spinner-grow{
    0%{
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    50%{
        opacity:1
    }
}
@keyframes spinner-grow{
    0%{
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    50%{
        opacity:1
    }
}
.spinner-grow{
    display:inline-block;
    width:2rem;
    height:2rem;
    vertical-align:text-bottom;
    background-color:#fff;
    border-radius:50%;
    opacity:0;
    -webkit-animation:spinner-grow .75s linear infinite;
    animation:spinner-grow .75s linear infinite
}

.title-next-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
}

.section-list{
    max-height: 300px;
    overflow-y: scroll;
}

.section-block{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    padding: 6px 25px;
    border-radius: 4px;
    justify-content: space-between;
    cursor: pointer;
}

.section-avatar{
    height: 45px;
    width: 45px;
    margin: 0 10px 0 0;
    border-radius: 50%;
}

.section-name{
    font-size: .85rem;
    font-weight: 500;
    color: #393a4f;
}

.position-r{
    position: relative;
}

.post-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .7;
    z-index: 10;
}

.post-loader .spinner-grow{
     background: #1a72ff;
     width: 6rem;
     height: 6rem;
}

bg-1a72ff{
   background: #1a72ff;    
}


.button-big{
    height: 46px;
    font-size: .95rem !important;
}

.pl-0{
  padding-left: 0px !important;
}

.pl-10{
    padding-left: 10px !important;
}
.pr-10{
    padding-right: 10px !important;
}
  

.pr-0{
    padding-right: 0px !important;
}

.pr-40{
    padding-right: 40px !important;
}

.text-error{
    border-color:#FF7273 !important;
    padding-right: 40px;
}

.mr-6{
    margin-right: 6px;
}

.br-0{
    border-radius: unset !important;
}

.border-0{
    border: none;
}

.wd-160px{
    width: 160px;
}



.upload-btn-wrapper {
    position: relative;
    cursor: pointer;
  }
 
  .upload-btn{
    background: #0d58c8;
    border: 1px solid #0d58c8;
    padding: 10px 15px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
   }
  .upload-btn-wrapper input[type=file] {
   font-size: 100px;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   opacity: 0;
   cursor: pointer;
   }

   .featured-image{
       max-height: 250px;
       overflow: hidden;
   }


.post-liked.fab-wrapper.post-action div{
    background:#1a72ff;
}
.post-liked.fab-wrapper.post-action div svg{
    stroke:#fff
}

.comment-media-left{
    margin-right: .5rem;
}

.disabled-red{
    box-shadow: 0 14px 26px -12px rgba(255,95,89,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(255,95,89,0.2) !important;
    opacity: 0.8;
    pointer-events:none;
    cursor:default !important
}

.card.is-post .comments-wrap .comments-body .is-comment .media-content .controls .like-count span.liked-comment{
    color:#1a72ff;
}
.card.is-post .comments-wrap .comments-body .is-comment .media-content .controls .like-count svg.liked-comment{
    stroke:#1a72ff;
    fill:#1a72ff;
}

.download-arrow-svg{
    fill:#1a72ff;
}



.load-more-button.loading.border-grey{
    border-color:#eee #eee #eee #999 !important;
}

.bg-cover{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s;
    background-color: rgba(10,10,10,0.86);
}

.popular-sections-list-header{
    padding: 6px 12px !important; 
}

.slideout-open{
    overflow: hidden;
}

.slideout-scroll{
    /* max-height: 450px; */
    overflow-y: auto;
}

.no-width{
    width: 0px;
}

.width-100pr{
    width: 100%;
}

.dropdown-content{
    border-radius: unset !important;
}

.inline{
    display: inline !important;
}

.tabs a:hover{
    border-bottom-color: #fff;
    /* color: #; */
}

.upload-fixed{
    position: fixed;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    right: 16px;
    font-size: 40px;
    font-weight: 400;
    /* top: calc(100vh - 120px ); */
    bottom: 90px;
    background: #0062ff;
    border-color: #0062ff;
    color: #fcfcfc;
    border-radius: 100%;
    box-shadow: 0 14px 26px -12px rgba(0,98,255,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,98,255,0.2) !important;
}
.upload-fixed:hover{
    color: #fcfcfc;
    background: #0062ff;
    border-color: #0062ff;
}