*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body{
    background: #f4f4f4 !important;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    color: #344258;
}



button, input, select, textarea {
    margin: 0;
}
.button, .input, .textarea, .select select, .file-cta, .file-name, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis{
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}


.button {
    font-size: .8rem;
    font-weight: 500;
    padding: 18px 22px;
    transition: all .3s;
}

button.button {
    line-height: 0;
}

.button.is-solid.accent-button {
    background: #0062ff;
    border-color: #0062ff;
    color: #fff;
}

/* PAGELOADER */
.pageloader{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    background-color:#fafafa;
    z-index:999998;
    opacity:0;
    transition:-webkit-opacity 0.35s ease-out;
    transition:opacity 0.35s ease-out;
    transition:opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    will-change:opacity;
    pointer-events:none
}
.pageloader.is-active{
    opacity:1
}
.pageloader::after,.pageloader::before{
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    border-radius:100%;
    content:"";
    z-index:999999
}
.pageloader::after{
    margin-top:-100px;
    margin-left:-100px;
    width:200px;
    height:200px;
    background-color:rgba(255,95,89,0.5);
    border:3px solid rgba(255,95,89,0.75);
    -webkit-animation:page-loader-inner 1.5s infinite ease-out;
    animation:page-loader-inner 1.5s infinite ease-out
}
.pageloader::before{
    margin-top:-30px;
    margin-left:-30px;
    width:60px;
    height:60px;
    background-color:#ff5f59;
    -webkit-animation:page-loader-outer 1.5s infinite ease-in;
    animation:page-loader-outer 1.5s infinite ease-in
}
@-webkit-keyframes page-loader-inner{
    0%,40%{
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
@keyframes page-loader-inner{
    0%,40%{
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
@-webkit-keyframes page-loader-outer{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    100%,40%{
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0
    }
}
@keyframes page-loader-outer{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    100%,40%{
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0
    }
}
.infraloader{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    background:#fff;
    z-index:-1;
    opacity:0;
    transition:opacity .35s
}
.infraloader.is-active{
    opacity:1;
    z-index:999997
}
.infraloader.is-full{
    width:100% !important;
    left:0 !important
}
@media (max-width: 767px){
    .pageloader,.infraloader{
        width:100% !important;
        left:0 !important
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
    .pageloader,.infraloader{
        width:100% !important;
        left:0 !important
    }
}
/* END PAGELOADER */


/* MAIN-NAVBAR */
 

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 99;
    background: #000;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
    transition: all .3s;
}

.navbar-brand, .navbar-tabs {
    display: flex;
    align-items: stretch;
}

.navbar .navbar-brand {
    height: 58px;
    margin-left: 0 !important;
    margin-right: 20px;
}

.navbar .navbar-brand {
    margin-right: 0;
}





.navbar-burger{
    color:#4a4a4a;
    cursor:pointer;
    display:block;
    height:3.25rem;
    position:relative;
    width:3.25rem;
    margin-left:auto
}
.navbar-burger span{
    background-color:currentColor;
    display:block;
    height:1px;
    left:calc(50% - 8px);
    position:absolute;
    -webkit-transform-origin:center;
    transform-origin:center;
    transition-duration:86ms;
    transition-property:background-color, opacity, -webkit-transform;
    transition-property:background-color, opacity, transform;
    transition-property:background-color, opacity, transform, -webkit-transform;
    transition-timing-function:ease-out;
    width:16px
}
.navbar-burger span:nth-child(1){
    top:calc(50% - 6px)
}
.navbar-burger span:nth-child(2){
    top:calc(50% - 1px)
}
.navbar-burger span:nth-child(3){
    top:calc(50% + 4px)
}
.navbar-burger:hover{
    background-color:rgba(0,0,0,0.05)
}
.navbar-burger.is-active span:nth-child(1){
    -webkit-transform:translateY(5px) rotate(45deg);
    transform:translateY(5px) rotate(45deg)
}
.navbar-burger.is-active span:nth-child(2){
    opacity:0
}
.navbar-burger.is-active span:nth-child(3){
    -webkit-transform:translateY(-5px) rotate(-45deg);
    transform:translateY(-5px) rotate(-45deg)
}

.navbar .navbar-burger span{
    background-color:#999
}
.navbar .navbar-burger {
    height: 58px;
    width: 58px;
}





.navbar-item, .navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}


.navbar .navbar-brand .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    min-width: 58px;
}



.navbar .navbar-brand .navbar-item img{
    width:120px;
    height:auto;
 }
















/* END MAIN_NAVBAR*/

.refresh-feed {
    position: fixed;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    left: 40%;
    top: 85px;
    color: #fcfcfc;
    padding: 0.65rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
    border-radius: 3px;
    background-color: #23272b;
    background-image: none;
    border-color: #1d2124;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    transition: all 2s linear;
}
.refresh-feed:hover{
    color: #fcfcfc;
    background-color: #23272b;
    border-color: #1d2124;
}

.upload-fixed{
    position: fixed;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    right: 16px;
    font-size: 40px;
    font-weight: 300;
    /* top: calc(100vh - 120px ); */
    bottom: 90px;
    background: #0062ff;
    border-color: #0062ff;
    color: #fcfcfc;
    border-radius: 100%;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}
.upload-fixed:hover{
    color: #fcfcfc;
    background: #0062ff;
    border-color: #0062ff;
}

.bg-cover {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s;
    background-color: rgba(10,10,10,0.86);
}

/* SIDEBAR DRAWER */
.inbox-left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16%;
    background: #fff !important;
    border-right: 1px solid #dbdbdb;
    z-index: 1050;
    transition: all .3s;
}

/* END SIDEBAR DRAWER */

.inbox-left-sidebar{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:16%;
    background:#fff !important;
    border-right:1px solid #dbdbdb;
    z-index:1050;
    transition:all .3s
}
.inbox-left-sidebar{
    width:260px !important;
    -webkit-transform:translateX(-260px);
    transform:translateX(-260px)
}
.inbox-left-sidebar.is-opened-mobile{
    -webkit-transform:translateX(0);
    transform:translateX(0)
}

@media (max-width: 767px){
    .inbox-left-sidebar{
        width:240px !important;
        -webkit-transform:translateX(-260px);
        transform:translateX(-260px)
    }
}


/* COMMON CLASS */














.card {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    box-shadow: none;
    max-width: 100%;
    color: #4a4a4a;
    /* box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); */
    background-color: #fff;
}







.no-border {
    border: none;
}
.has-slimscroll {
    overflow-x: hidden !important;
}

.d-none {
    display: none !important;
}
a{
    color: #0058e6;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
}
.d-flex {
    display: flex !important;
}
.width-100pr {
    width: 100%;
}
.pd-lr-25 {
    padding-left: 25px;
    padding-right: 25px;
}
.space-bw {
    justify-content: space-between;
}
.aln-cntr {
    align-items: center;
}



/* END COMMON CLASS*/

