*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-size: 100%;
    font-weight: normal;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body{
    background: #f4f4f4 !important;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    color: #344258;
}

img, embed, iframe, object, video{
    height: auto;
    max-width: 100%;
}



button, input, select, textarea {
    margin: 0;
}
.button, .input, .textarea, .select select, .file-cta, .file-name, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis{
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}


.button {
    font-size: .8rem;
    font-weight: 500;
    padding: 18px 22px;
    transition: all .3s;
}

button.button {
    line-height: 0;
}

.button.is-solid.accent-button {
    background: #0062ff;
    border-color: #0062ff;
    color: #fff;
}

/* PAGELOADER */

@media (max-width: 767px){
    .pageloader, .infraloader {
        width: 100% !important;
        left: 0 !important;
    }
}

.pageloader{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    background-color:#fafafa;
    z-index:999998;
    opacity:0;
    transition:-webkit-opacity 0.35s ease-out;
    transition:opacity 0.35s ease-out;
    transition:opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    will-change:opacity;
    pointer-events:none
}
.pageloader.is-active{
    opacity:1
}
.pageloader::after,.pageloader::before{
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    border-radius:100%;
    content:"";
    z-index:999999
}
.pageloader::after{
    margin-top:-100px;
    margin-left:-100px;
    width:200px;
    height:200px;
    background-color:rgba(255,95,89,0.5);
    border:3px solid rgba(255,95,89,0.75);
    -webkit-animation:page-loader-inner 1.5s infinite ease-out;
    animation:page-loader-inner 1.5s infinite ease-out
}
.pageloader::before{
    margin-top:-30px;
    margin-left:-30px;
    width:60px;
    height:60px;
    background-color:#ff5f59;
    -webkit-animation:page-loader-outer 1.5s infinite ease-in;
    animation:page-loader-outer 1.5s infinite ease-in
}
@-webkit-keyframes page-loader-inner{
    0%,40%{
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
@keyframes page-loader-inner{
    0%,40%{
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
@-webkit-keyframes page-loader-outer{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    100%,40%{
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0
    }
}
@keyframes page-loader-outer{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    100%,40%{
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0
    }
}
.infraloader{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    background:#fff;
    z-index:-1;
    opacity:0;
    transition:opacity .35s
}
.infraloader.is-active{
    opacity:1;
    z-index:999997
}
.infraloader.is-full{
    width:100% !important;
    left:0 !important
}
@media (max-width: 767px){
    .pageloader,.infraloader{
        width:100% !important;
        left:0 !important
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
    .pageloader,.infraloader{
        width:100% !important;
        left:0 !important
    }
}
/* END PAGELOADER */


/* MAIN-NAVBAR */
 

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 99;
    background: #000;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
    transition: all .3s;
}

.navbar-brand, .navbar-tabs {
    display: flex;
    align-items: stretch;
}

.navbar .navbar-brand {
    height: 58px;
    margin-left: 0 !important;
    margin-right: 20px;
}

.navbar .navbar-brand {
    margin-right: 0;
}





.navbar-burger{
    color:#4a4a4a;
    cursor:pointer;
    display:block;
    height:3.25rem;
    position:relative;
    width:3.25rem;
    margin-left:auto
}
.navbar-burger span{
    background-color:currentColor;
    display:block;
    height:1px;
    left:calc(50% - 8px);
    position:absolute;
    -webkit-transform-origin:center;
    transform-origin:center;
    transition-duration:86ms;
    transition-property:background-color, opacity, -webkit-transform;
    transition-property:background-color, opacity, transform;
    transition-property:background-color, opacity, transform, -webkit-transform;
    transition-timing-function:ease-out;
    width:16px
}
.navbar-burger span:nth-child(1){
    top:calc(50% - 6px)
}
.navbar-burger span:nth-child(2){
    top:calc(50% - 1px)
}
.navbar-burger span:nth-child(3){
    top:calc(50% + 4px)
}
.navbar-burger:hover{
    background-color:rgba(0,0,0,0.05)
}
.navbar-burger.is-active span:nth-child(1){
    -webkit-transform:translateY(5px) rotate(45deg);
    transform:translateY(5px) rotate(45deg)
}
.navbar-burger.is-active span:nth-child(2){
    opacity:0
}
.navbar-burger.is-active span:nth-child(3){
    -webkit-transform:translateY(-5px) rotate(-45deg);
    transform:translateY(-5px) rotate(-45deg)
}

.navbar .navbar-burger span{
    background-color:#999
}
.navbar .navbar-burger {
    height: 58px;
    width: 58px;
}





.navbar-item, .navbar-link {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}


.navbar .navbar-brand .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    min-width: 58px;
}



.navbar .navbar-brand .navbar-item img{
    width:120px;
    height:auto;
 }
















/* END MAIN_NAVBAR*/

.refresh-feed {
    position: fixed;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    left: 40%;
    top: 85px;
    color: #fcfcfc;
    padding: 0.65rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
    border-radius: 3px;
    background-color: #23272b;
    background-image: none;
    border-color: #1d2124;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    transition: all 2s linear;
}
.refresh-feed:hover{
    color: #fcfcfc;
    background-color: #23272b;
    border-color: #1d2124;
}

.upload-fixed{
    position: fixed;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    right: 16px;
    font-size: 30px;
    font-weight: 300;
    /* top: calc(100vh - 120px ); */
    bottom: 70px;
    background: #0062ff;
    border-color: #0062ff;
    color: #fcfcfc;
    border-radius: 100%;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}

.upload-fixed:hover{
    color: #fcfcfc;
    background: #0062ff;
    border-color: #0062ff;
}

.bg-cover {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s;
    background-color: rgba(10,10,10,0.86);
}

/* SIDEBAR DRAWER */
.inbox-left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16%;
    background: #fff !important;
    border-right: 1px solid #dbdbdb;
    z-index: 1050;
    transition: all .3s;
}
.inbox-left-sidebar{
    width:260px !important;
    -webkit-transform:translateX(-260px);
    transform:translateX(-260px)
}
.inbox-left-sidebar.is-opened-mobile{
    -webkit-transform:translateX(0);
    transform:translateX(0)
}
@media (max-width: 767px){
    .inbox-left-sidebar{
        width:240px !important;
        -webkit-transform:translateX(-260px);
        transform:translateX(-260px)
    }
}
.card {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    box-shadow: none;
    max-width: 100%;
    color: #4a4a4a;
    /* box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); */
    background-color: #fff;
}
.card .card-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
}
.card .card-heading.is-bordered {
    border-bottom: 1px solid #e8e8e8;
}
.popular-sections-list-header {
    padding: 6px 12px !important;
}
.card .card-heading.is-bordered h4 {
    font-size: .95rem;
    color: #757a91;
    font-weight: 500;
}
.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: top;
}
.dropdown {
    margin-left: auto;
}
.dropdown .button {
    padding: 0;
    background: none;
    border: none;
}
.dropdown.is-spaced>div .button, .dropdown.is-spaced>div .button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
    transition: all .3s;
}
.dropdown .button svg {
    stroke: #888da8;
}
.dropdown.is-spaced>div .button svg, .dropdown.is-spaced>div .button svg {
    height: 20px;
    width: 20px;
    transition: all .3s;
}
@media (max-width: 767px){    
    .noin-mobile{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .noin-desktop{
        display: none;
    }
}

.card .card-body {
    padding: 10px 16px;
}
.card .card-body.no-padding {
    padding: 0;
}

.card .card-body .page-block, .card .card-body .add-friend-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 12px;
}
.card .card-body .page-block, .card .card-body .add-friend-block:first-child{
    padding-top: 12px;
}
.card .card-body .page-block img, .card .card-body .add-friend-block img{
    height: 30px;
    width: 30px;
    max-height: 30px;
    /* border-radius: 50%; */
}
.card .card-body .page-block .page-meta, .card .card-body .add-friend-block .page-meta {
    padding: 0 10px;
    line-height: 1.3;
}
.card .card-body .page-block .page-meta span, .card .card-body .add-friend-block .page-meta span{
    display: block;
}
.card .card-body .page-block .page-meta span:first-child, .card .card-body .add-friend-block .page-meta span:first-child{
    font-size: .85rem;
    color: #393a4f;
    font-weight: 500;
}
.card .card-body .page-block .add-page, .card .card-body .page-block .add-friend, .card .card-body .add-friend-block .add-page, .card .card-body .add-friend-block .add-friend{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 50%;
    transition: all .3s;
    cursor: pointer;
}
.card .card-body .page-block .add-page svg, .card .card-body .page-block .add-friend svg, .card .card-body .add-friend-block .add-page svg, .card .card-body .add-friend-block .add-friend svg {
    height: 20px;
    width: 20px;
    stroke: #cecece;
    fill: #cecece;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

@media screen and (min-width: 768px){
    .view-wrapper .stick-sections-list {
        position: relative !important;
        height: auto !important;
        transform: none !important;
        z-index: 99 !important;

    }
}


/* END SIDEBAR DRAWER */



/* POSTS CONTAINER  */
.view-wrapper {
    padding: 60px 12px;
    transition: all .3s;
}
.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

@media screen and (min-width: 1024px){
    .container {
        max-width: 960px;
    }
}
@media screen and (min-width: 1216px){
    .container {
        max-width: 1152px;
    }
}
@media screen and (min-width: 1408px){
    .container {
        max-width: 1344px;
    }
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
}
.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}
@media screen and (min-width: 769px), print{
    .columns:not(.is-desktop){
        display:flex
    }
    .column.is-2, .column.is-2-tablet{
        flex: none;
        width: 16.66667%;
    }
    .column.is-8, .column.is-8-tablet {
        -ms-flex: none;
        flex: none;
        width: 66.66667%;
    }
}
@media screen and (min-width: 768px){
    .ml-200 {
        margin-left: 200px !important;
    }
    .post-list-container {
        z-index: 100;
    }
}

.view-wrapper .view-wrap {
    /* padding: 20px 0; */
    padding: 1rem 0;
}
.columns:last-child {
    margin-bottom: -.75rem;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

@media screen and (min-width: 768px){
    .post-size {
        padding: 0 12rem;
    }
    .stick-sections-list .card{
        margin-bottom: 0 !important;
    }
}

.card.is-post .card-heading, .card.is-post .card-body {
    padding: 10px 12px 0 12px;
}
.card.is-post .user-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.image {
    display: block;
    position: relative;
}
.image img {
    display: block;
    height: auto;
    width: 100%;
}
.card.is-post .content-wrap .post-image img{
    width:100%;
    height: auto;
    display:block;
    overflow: hidden;
    border-radius: unset;
}
.card.is-post .user-block img {
    width: 30px;
    height: 30px;
    border-radius: unset;
}
.card.is-post .user-block .user-info {
    padding: 0 10px;
}

.card.is-post .user-block a, .card.is-post .user-block .time {
    display: block;
}
.card.is-post .user-block a {
    /* font-size: .9rem; */
    font-size: .8rem;
    font-weight: 400;
    color: #393a4f;
    transition: color .3s;
}
.card.is-post .user-block a, .card.is-post .user-block .time {
    display: block;
}
.card.is-post .user-block .user-info a {
    line-height: 1.1;
}

.card.is-post .user-block a, .card.is-post .user-block .time {
    display: block;
}
.card.is-post .user-block .time {
    /* font-size: .8rem; */
    font-size: .65rem;
    color: #999;
}
.card.is-post .content-wrap .post-text {
    word-break: break-word;
}
.card.is-post .content-wrap .post-text p {
    color: #757a91;
    font-size: .9rem;
}
.card.is-post .content-wrap .post-text p a {
    color: #393a4f;
    font-weight: 500;
}
.post-heading {
    word-wrap: break-word;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.card.is-post .content-wrap .post-image {
    position: relative;
    max-height: 400px;
    margin: 5px 0 10px 0;
    overflow: hidden;
}
@media (max-width: 767px){
    .card.is-post .content-wrap .post-image {
        max-height: 300px;
    }
}

.loads {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeload;
    animation-name: placeload;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eee;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 1200px 104px;
    position: relative;
}
@-webkit-keyframes placeload{
    0%{
        background-position:-468px 0
    }
    100%{
        background-position:468px 0
    }
}
@keyframes placeload{
    0%{
        background-position:-468px 0
    }
    100%{
        background-position:468px 0
    }
}

    /* POST FOOTER */
    .card-footer {
        background-color: rgba(0,0,0,0);
        border-top: 1px solid #dbdbdb;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: flex;
    }
    .card .card-footer {
        margin: 8px 16px 16px 16px;
        border-top: 1px solid #e8e8e8;
    }
    .card.is-post .card-footer {
        border: none;
        padding: 0 16px 10px 16px;
        margin: 0;
    }
    .card.is-post .content-wrap .card-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .card.is-post .content-wrap .card-footer .likers-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .card.is-post .content-wrap .card-footer .social-count {
        margin-left: auto;
        display: flex;
        align-items: stretch;
    }
    .fab-wrapper .small-fab {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        color: #fcfcfc;
        opacity: 1;
        /* transition: all .3s; */
    }
    .fab-wrapper.post-action div.small-fab {
        /* background: #1a72ff; */
        /* box-shadow: 0 14px 26px -12px rgba(0,98,255,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,98,255,0.2) !important; */
        border: 1.6px solid #1a72ff;
        color: #1a72ff;
    }
    .fab-wrapper .small-fab svg {
        width: 18px;
        height: 18px;
        transition: all .3s;
    }
    .load-more-button{
        box-sizing:border-box;
        display:inline-block;
        width:8em;
        height:2.25em;
        padding:0.5em 1em;
        background-color:#fff;
        border:1px solid #ccc;
        border-radius:4px;
        text-align:center;
        color:#757a91 !important;
        white-space:nowrap;
        line-height:1;
        font-size:1em;
        text-decoration:none;
        transition:width 0.1s ease, height 0.4s ease, border-width 0.4s ease, border-radius 0.4s ease, border-color 0.4s ease, padding 0.4s ease
    }
    .load-more-button:focus{
        outline:none;
        border-color:#ddd
    }
    .load-more-button:hover{
        background:#fafafa
    }
    .load-more-button.loading{
        height:43px;
        width:43px;
        padding:0;
        border-width:2px;
        border-radius:50%;
        border-color:#eee #eee #eee #1a72ff;
        background:#fff;
        font-size:0;
        color:transparent;
        pointer-events:none;
        -webkit-animation:spin 1.2s infinite linear;
        animation:spin 1.2s infinite linear
    }
    .load-more-button.loading.border-grey {
        border-color: #eee #eee #eee #999 !important;
    }
    @-webkit-keyframes spin{
        from{
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg)
        }
        to{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg)
        }
    }
    @keyframes spin{
        from{
            -webkit-transform:rotate(0deg);
            transform:rotate(0deg)
        }
        to{
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg)
        }
    }
    .card.is-post .content-wrap .card-footer .social-count .shares-count, .card.is-post .content-wrap .card-footer .social-count .comments-count, .card.is-post .content-wrap .card-footer .social-count .likes-count {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 3px;
    }
    .card.is-post .content-wrap .card-footer .social-count .shares-count svg, .card.is-post .content-wrap .card-footer .social-count .comments-count svg, .card.is-post .content-wrap .card-footer .social-count .likes-count svg {
        height: 18px;
        width: 18px;
        stroke: #888da8;
    }
    .card.is-post .content-wrap .card-footer .social-count .shares-count span, .card.is-post .content-wrap .card-footer .social-count .comments-count span, .card.is-post .content-wrap .card-footer .social-count .likes-count span {
        display: block;
        font-size: .9rem;
        color: #888da8;
        margin: 0 5px;
    }
    /* POST FOOTER */


/* END POSTS CONTAINER */









/* MODELS */
.modal .modal-background {
    transition: all .3s;
}
.modal-background {
    background-color: rgba(10,10,10,0.86);
}

.is-overlay, .image.is-square img, .image.is-square .has-ratio, .image.is-1by1 img, .image.is-1by1 .has-ratio, .image.is-5by4 img, .image.is-5by4 .has-ratio, .image.is-4by3 img, .image.is-4by3 .has-ratio, .image.is-3by2 img, .image.is-3by2 .has-ratio, .image.is-5by3 img, .image.is-5by3 .has-ratio, .image.is-16by9 img, .image.is-16by9 .has-ratio, .image.is-2by1 img, .image.is-2by1 .has-ratio, .image.is-3by1 img, .image.is-3by1 .has-ratio, .image.is-4by5 img, .image.is-4by5 .has-ratio, .image.is-3by4 img, .image.is-3by4 .has-ratio, .image.is-2by3 img, .image.is-2by3 .has-ratio, .image.is-3by5 img, .image.is-3by5 .has-ratio, .image.is-9by16 img, .image.is-9by16 .has-ratio, .image.is-1by2 img, .image.is-1by2 .has-ratio, .image.is-1by3 img, .image.is-1by3 .has-ratio, .modal, .modal-background, .hero-video{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
}
.modal {
    z-index: 1050;
}
.modal.is-active {
    display: flex;
}

.modal.is-xsmall .modal-content {
    width: 480px;
}

@media screen and (min-width: 769px), print{
    .modal-content, .modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px;
    }
}

.modal-content, .modal-card {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}

.modal .card {
    -webkit-animation: modalScale .3s;
    animation: modalScale .3s;
}
@-webkit-keyframes modalScale{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes modalScale{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}

.modal .card .card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
.share-modal .card-heading, .share-modal .share-inputs {
    border-bottom: 1px solid #e8e8e8;
}
.share-modal .card-heading {
    padding: 8px !important;
}
.modal .card .card-heading h3 {
    font-size: .95rem;
    font-weight: 500;
}
.modal .card .card-heading .close-wrap {
    height: 30px;
    width: 30px;
}
.modal .card .card-heading .close-wrap .close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: background .3s;
}
.modal .card .card-heading .close-wrap .close-modal svg {
    height: 18px;
    width: 18px;
    stroke: #757a91;
}
.modal .card .card-body {
    padding: 8px 12px;
}
.model-pd {
    padding: 20px 25px !important;
}
.login-wrapper .form-wrapper {
    margin: 0 auto;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
}

.login-wrapper .form-wrapper .login-form .field .control {
    position: relative;
}
.login-wrapper .form-wrapper .login-form .field .control button, .login-wrapper .form-wrapper .login-form .field .control .button {
    height: 46px;
    font-size: .95rem;
}
.share-modal .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    padding: 8px;
    background: #f5f6f7;
    border-radius: 0 0 6px 6px;
}
.share-modal .card-footer button {
    line-height: 0;
    margin-left: 4px;
    height: 32px !important;
    padding: 8px 22px;
}
/* END MODELS */


/* COMMON CLASS */
.button.is-solid.dark-grey-button:hover {
    background: #dedede;
    border-color: #dedede;
}
.button.is-solid.dark-grey-button {
    background: #ededed;
    border-color: #ededed;
}
.button.is-fullwidth {
    display: flex;
    width: 100%;
}
.button.is-solid.primary-button {
    background: #ff5f59;
    border-color: #ff5f59;
    color: #fff !important;
}
.button.is-solid.primary-button.raised:hover {
    box-shadow: 0 14px 26px -12px rgba(255,95,89,0.42),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(255,95,89,0.2) !important;
    opacity: 0.8;
}
.button:active, .button.is-active {
    border-color: #4a4a4a;
    color: #363636;
}
.button:focus, .button.is-focused {
    border-color: #3273dc;
    color: #363636;
}
.button:hover, .button.is-hovered {
    border-color: #b5b5b5;
    color: #363636;
}
.button:focus, .input:focus, .textarea:focus, .select select:focus, .file-cta:focus, .file-name:focus, .pagination-previous:focus, .pagination-next:focus, .pagination-link:focus, .pagination-ellipsis:focus, .is-focused.button, .is-focused.input, .is-focused.textarea, .select select.is-focused, .is-focused.file-cta, .is-focused.file-name, .is-focused.pagination-previous, .is-focused.pagination-next, .is-focused.pagination-link, .is-focused.pagination-ellipsis, .button:active, .input:active, .textarea:active, .select select:active, .file-cta:active, .file-name:active, .pagination-previous:active, .pagination-next:active, .pagination-link:active, .pagination-ellipsis:active, .is-active.button, .is-active.input, .is-active.textarea, .select select.is-active, .is-active.file-cta, .is-active.file-name, .is-active.pagination-previous, .is-active.pagination-next, .is-active.pagination-link, .is-active.pagination-ellipsis {
    outline: none;
}
.flex-end {
    justify-content: flex-end !important;
}
a:hover {
    color: #0058e6;
}
a:hover {
    color: #363636;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.position-f {
    position: fixed;
}
.has-text-centered {
    text-align: center !important;
}
.mr-6 {
    margin-right: 6px;
}
.border-0 {
    border: none;
}
.br-0 {
    border-radius: unset !important;
}
.mb-1rem {
    margin-bottom: 1rem !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mt-0 {
    margin-top: 0px !important;
}
.position-r {
    position: relative;
}
.no-padding {
    padding: 0 !important;
}
.uppercase {
    text-transform: uppercase !important;
}
.no-border {
    border: none;
}
.has-slimscroll {
    overflow-x: hidden !important;
}

.d-none {
    display: none !important;
}
a{
    color: #0058e6;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
}
.d-flex {
    display: flex !important;
}
.width-100pr {
    width: 100%;
}
.pd-lr-25 {
    padding-left: 25px;
    padding-right: 25px;
}
.space-bw {
    justify-content: space-between;
}
.aln-cntr {
    align-items: center;
}
.slideout-scroll {
    /* max-height: 450px; */
    overflow-y: auto;
}
.has-slimscroll{
    overflow-x:hidden !important
}
.has-slimscroll::-webkit-scrollbar{
    width:6px !important
}
.has-slimscroll::-webkit-scrollbar-thumb{
    border-radius:10px !important;
    background:rgba(0,0,0,0.2) !important
}
.has-slimscroll-md{
    overflow-x:hidden !important
}
.has-slimscroll-md::-webkit-scrollbar{
    width:4px !important
}
.has-slimscroll-md::-webkit-scrollbar-thumb{
    border-radius:10px !important;
    background:rgba(0,0,0,0.2) !important
}
.has-slimscroll-xs{
    overflow-x:hidden !important
}
.has-slimscroll-xs::-webkit-scrollbar{
    width:2px !important
}
.has-slimscroll-xs::-webkit-scrollbar-thumb{
    border-radius:10px !important;
    background:rgba(0,0,0,0.2) !important
}
span {
    font-style: inherit;
    font-weight: inherit;
}
@media screen and (max-width: 768px){
    .is-hidden-mobile{
        display:none !important
    }
}
@media screen and (min-width: 1024px){
    .is-hidden-desktop{
        display:none !important
    }
}

/* END COMMON CLASS*/

