.has-slimscroll{
    overflow-x:hidden !important
}
.has-slimscroll::-webkit-scrollbar{
    width:6px !important
}
.has-slimscroll::-webkit-scrollbar-thumb{
    border-radius:10px !important;
    background:rgba(0,0,0,0.2) !important
}
.has-slimscroll-md{
    overflow-x:hidden !important
}
.has-slimscroll-md::-webkit-scrollbar{
    width:4px !important
}
.has-slimscroll-md::-webkit-scrollbar-thumb{
    border-radius:10px !important;
    background:rgba(0,0,0,0.2) !important
}
.has-slimscroll-xs{
    overflow-x:hidden !important
}
.has-slimscroll-xs::-webkit-scrollbar{
    width:2px !important
}
.has-slimscroll-xs::-webkit-scrollbar-thumb{
    border-radius:10px !important;
    background:rgba(0,0,0,0.2) !important
}